*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* layout testi */
body{
  font-family: 'Montserrat', sans-serif;
}
.menu-principale a{
  text-decoration: none;
  color:#858585;
  text-transform: uppercase;
}


/* formattazione contenitore centrale */
.conteiner{
  width:80%;
  margin: 0 auto;
}
/* formattazione header */
.intestazione-sito{
  margin-bottom: 10px;
}
/* formattazione logo */
.contenitore-logo{
  width:15%;
  border-right: 2px solid rgba(230, 230, 230, 0.5);
  padding-right:10px;
}
.contenitore-logo img {
  width:100%;
}
/* formattazione menu */
.menu-principale {
  margin: 40px 0;
}
.menu-principale ul li {
  display:inline-block;
  list-style: none;
  margin-right: 10px;
}


/* formattazione sezione con immagine principale */
.banner{
  margin-bottom: 10px;
}
.banner img{
  width:100%;
}

/* formattazione sezione centrale */
.titolo-sezione, .colonna {
  background-color: #ABCFE7;
  margin-bottom: 2%;
}
.titolo-sezione {
  height:5vh;
}

.parte-centrale{
  background-color: #0483FE;
}

.colonna{
  height:60vh;
  float:left;
}

.c-sinistra, .c-destra{
  width:24%;
}

.c-centrale{
  width:48%;
  margin: 0 2%;
}
/* aggiunta proprietà clearfix */

.parte-centrale::after{
  display:block;
  content:"";
  clear:both;
}

/* formattazione del footer */

.credits{
  margin-top: 5px;
  background-color: #8801FE;
}
