*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* layout testi */
body{
  font-family: 'Montserrat', sans-serif;
}
.menu-principale a{
  text-decoration: none;
  color:#858585;
  text-transform: uppercase;
}
.testo-immagine p{
  color:#fff;
  font-size: 14px;
}

.testo-immagine :first-child{
  font-size: 28px;
}

.titolo-sezione h2 {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
}
.titolo-sezione p, .colonna p  {
  font-size: 14px;
  color: #929292;
}
.immagini-main + p {
  color:#000;
  margin: 10px 0;
}
.credits p{
  font-size: 14px;
}
.cuore-credits{
  color:#FF0000;
  font-size: 24px;
}
/* /layout testi */

/* formattazione contenitore centrale */
.conteiner{
  width:80%;
  margin: 0 auto;
}
/* formattazione header */
.intestazione-sito{
  margin-bottom: 10px;
}
/* formattazione logo */
.contenitore-logo{
  width:15%;
  border-right: 2px solid rgba(230, 230, 230, 0.5);
  padding-right:10px;
}
.contenitore-logo img {
  width:100%;
}
/* formattazione menu */
.menu-principale {
  margin: 40px 0;
}
.menu-principale ul li {
  display:inline-block;
  list-style: none;
  margin-right: 10px;
}

/* formattazione sezione con immagine principale */
.banner{
  margin-bottom: 40px;
  height:70vh;
  width:100%;
  background-image: url('../img/banner.jpg');
  background-position: center;
  position: relative;
}

.testo-immagine{
  width:50%;
  position:absolute;
  left:40px;
  bottom:60px;
}
/* effetto overlay */
.overlay
{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* formattazione sezione centrale */
.titolo-sezione{
  margin-bottom: 40px;
}
.colonna{
  float:left;
  margin-bottom: 2%;
}

.c-sinistra, .c-destra{
  width:20%;
}

.c-centrale{
  width:52%;
  margin: 0 2%;
}

/* formattazione immagini del main */
.immagini-main{
  height:215.83px;
  width:100%;
  position:relative;
}
.immagini-main img{
width:100%;
height:100%;
}

#immagine-lampadina{
  object-fit: cover;
}
#banner-main{
  object-fit: cover;
}
/* aggiunta proprietà clearfix */

.parte-centrale::after{
  display:block;
  content:"";
  clear:both;
}

/* formattazione del footer */

.credits{
  margin: 20px 0;
  text-align: center;
}
